html {
  font-size: 15px;
  box-sizing: border-box;
  font-family: $josefinSans;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: auto;
}

a {
  position: relative;
}
a:hover::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 30px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40%;
}
