<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(content='text/html; charset=UTF-8; X-Content-Type-Options=nosniff' http-equiv='Content-Type')
    title LoopStudios
    link(href='https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap' rel='stylesheet')
    link(rel="stylesheet" type='text/css' href="css/styles.css")
  body
    include ../components/header.pug
    main.main
      include ../components/info.pug
      include ../components/gallery.pug
    include ../components/footer.pug