footer.footer
    h2.footer__title loopstudios
    ul.footer-list
        li.footer-list__item: a(href="#").footer-list__link About
        li.footer-list__item: a(href="#").footer-list__link Careers
        li.footer-list__item: a(href="#").footer-list__link Events
        li.footer-list__item: a(href="#").footer-list__link Products
        li.footer-list__item: a(href="#").footer-list__link Support
    .social
        img(src="images/icon-facebook.svg" alt="facebook").social__icon
        img(src="images/icon-twitter.svg" alt="twitter").social__icon
        img(src="images/icon-pinterest.svg" alt="pinterest").social__icon
        img(src="images/icon-instagram.svg" alt="instagram").social__icon
    p.footer__text 2021 Carlos Díaz @ frontendmentor.io