section.gallery
    h2.gallery__title our creations
    .gallery__container
        .card
            img(srcset="./images/desktop/image-deep-earth.jpg, ./images/mobile/image-deep-earth.jpg 2x" src="./images/desktop/image-deep-earth.jpg" alt="deep earth").card__img
            span(data-title="deep earth").card__name
        .card
            img(srcset="./images/desktop/image-night-arcade.jpg, ./images/mobile/image-night-arcade.jpg 2x" src="./images/desktop/image-night-arcade.jpg" alt="night arcade").card__img
            span(data-title="night arcade").card__name
        .card
            img(srcset="./images/desktop/image-soccer-team.jpg, ./images/mobile/image-soccer-team.jpg 2x" src="./images/desktop/image-soccer-team.jpg" alt="soccer team vr").card__img
            span(data-title="soccer team vr").card__name
        .card
            img(srcset="./images/desktop/image-grid.jpg, ./images/mobile/image-grid.jpg 2x" src="./images/desktop/image-grid.jpg" alt="the grid").card__img
            span(data-title="the grid").card__name
        .card
            img(srcset="./images/desktop/image-from-above.jpg, ./images/mobile/image-from-above.jpg 2x" src="./images/desktop/image-from-above.jpg" alt="from up above vr").card__img
            span(data-title="from up above vr").card__name
        .card
            img(srcset="./images/desktop/image-pocket-borealis.jpg, ./images/mobile/image-pocket-borealis.jpg 2x" src="./images/desktop/image-pocket-borealis.jpg" alt="pocket borealis").card__img
            span(data-title="pocket borealis").card__name
        .card
            img(srcset="./images/desktop/image-curiosity.jpg, ./images/mobile/image-curiosity.jpg 2x" src="./images/desktop/image-curiosity.jpg" alt="the curiosity").card__img
            span(data-title="the curiosity").card__name
        .card
            img(srcset="./images/desktop/image-fisheye.jpg, ./images/mobile/image-fisheye.jpg 2x" src="./images/desktop/image-fisheye.jpg" alt="make it fisheye").card__img
            span(data-title="make it fisheye").card__name
    button(type="button").gallery__button see all