header.header
  .topbar
    h1.topbar__title loopstudios
    input(type="checkbox" name="menu-icon" title="icon hamburger").topbar__input
    img(src="images/icon-close.svg" alt="").icon.icon-close
    img(src="images/icon-hamburger.svg" alt="").icon.icon-hamburger
    nav.nav
      ul.nav-main
        li.nav-main__item: a(href="#").nav-main__link About
        li.nav-main__item: a(href="#").nav-main__link Carrers
        li.nav-main__item: a(href="#").nav-main__link Events
        li.nav-main__item: a(href="#").nav-main__link Products
        li.nav-main__item: a(href="#").nav-main__link Support
  include ./banner.pug

